@{
  Layout = "_Layout";
}


<div class="w3-container w3-center">
  <h2>Add a new Stylist</h2>
  <div class="form-group">
    <form action="/stylists/create" method="post">
      <label for="name"><h4>Name: </label>
      <input type="text" id="name" name="name" class="form-control">
      <label for="hireDate"><h4>Hire Date: </label>
      <input type="date" id="hireDate" name="hireDate">
      <button type="submit">Add</button>
    </form>
  </div>
  <h3><a href="/stylists">Back To All Stylists</a></h3>
  <h3><a href="/">Back Home</a></h3>
</div>
